.hello-text {
  color: black;
  font-size: 3em;
  padding-top: 3em;
  margin-bottom: 4em;
}

.name-container {
  display: flex;
}

.name {
  margin-left: 0.5em;
  font-weight: bold;
  color: var(--color-orange);
  padding-right: 0.25em;
  box-shadow: 10px 10px;
}

.job {
  margin-top: 0.5em;
  color: gray;
  font-family: "Console", "Courier New", monospace;
}

.contact-button {
  border: none;
  border: 1px solid var(--color-orange);
  background: var(--color-orange);
  padding: 1em 1.5em;
  border-radius: 0.5em;
  cursor: pointer;
}

.get-cv-button {
  border: 1px solid var(--color-orange);
  margin-left: 1em;
  background: white;
  padding: 1em 1.5em;
  border-radius: 0.5em;
  cursor: pointer;
  background: linear-gradient(to left, white 50%, var(--color-orange) 50%) right;
  background-size: 200%;
  transition: 0.25s ease-out;
}

.get-cv-button:hover {
  background-position: left;
}

@media (width < 480px) {
  .hello-text {
    font-size: 1.5em;
  }

  .name {
    box-shadow: 4px 4px var(--color-orange);
  }
}

@media (480px <= width < 768px) {
  .hello-text {
    font-size: 2em;
  }

  .name {
    box-shadow: 6px 6px var(--color-orange);
  }
}
