.project-container {
  display: flex;
  margin: auto;
  box-shadow: 0 0 3px;
  padding: 1em;
  border-radius: 1em;
  background-color: rgb(250, 240, 221);
}

.project-image {
  width: 15em;
}

.project-left {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin-right: 2em;
}

.project-name {
  font-size: 2rem;
  width: fit-content;
  border-bottom: 2px solid black;
  margin-bottom: 1rem;
}

.project-description {
  flex-grow: 1;
}

.project-links {
  display: flex;
}

.custom-button {
  border: none;
  border: 1px solid var(--color-orange);
  background: var(--color-orange);
  padding: 1em 2em;
  border-radius: 0.5em;
  cursor: pointer;
}

.github-button {
  margin-left: 1rem;
}

@media (width < 768px) {
  .project-container {
    flex-direction: column;
  }
  .project-image {
    margin: auto;
    margin-top: 1em;
  }
}
