.section-title-container {
  width: fit-content;
  font-size: 2em;
  box-shadow: -5px -5px var(--color-brown);
}

.section-title {
  padding: 0.25em 1em;
  background-color: var(--color-orange);
  color: var(--color-black);
}

@media (width < 480px) {
  .section-title-container {
    font-size: 1.5em;
  }
}

@media (480px <= width < 768px) {
  .section-title-container {
    font-size: 1.75em;
  }
}
