.navbar-button {
  cursor: pointer;
  padding: 1.75em 1em;
  font-weight: bold;
  color: var(--color-black);
  text-decoration: none;
}

.navbar-button:hover {
  background-color: var(--color-black);
  color: white;
  transition: ease-in 0.1s;
}
