.wrapper {
  border-radius: 1em;
  margin: auto;
  width: 100%;
  max-width: 22em;
  overflow: hidden;
  box-shadow: 0 1em 20px rgba(1, 1, 1, 0.6);
  cursor: pointer;
  background-color: var(--color-1);
  height: 100%;
}

.info_wrapper {
  color: white;
  padding: 1em;
}

.image {
  background-color: white;
  width: 100%;
  height: 8em;
  object-fit: contain;
  vertical-align: middle;
}

.title {
  font-size: 1.5em;
  font-weight: bold;
}

.company {
  font-size: 1.25em;
  margin-bottom: 0.4em;
}

.period {
  font-size: 0.9em;
  color: rgba(255, 255, 255, 0.8);
}

.type {
  font-size: 0.9em;
  color: rgba(255, 255, 255, 0.8);
}

.modal_wrapper {
  background-color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60vw;
  max-width: 1024px;
  box-shadow: 0 0 24px black;
  /*
  overflow-y: scroll;
  */
  overflow: hidden;
  height: 80vh;
  overflow: auto;
}

.modal_header {
  position: sticky;
  top: 10px;
  right: -10px;
  width: fit-content;
  margin-left: auto;
}

.modal_content {
  padding-top: 2em;

  padding-left: 3em;
  padding-right: 3em;

  padding-bottom: 3em;
}

.modal_text {
  margin-top: 3em;
}

.technologies_wrapper {
  display: flex;
  justify-content: center;
}

.technology_image {
  width: 3em;
  margin-left: 0.2em;
  margin-right: 0.2em;
}

.job_data_wrapper {
  margin-top: 2em;
}

@media (width < 1024px) {
  .modal_wrapper {
    padding-left: 1em;
    padding-right: 1em;
    width: 100%;
    max-width: 80vw;
  }

  .modal_content {
    padding-left: 0;
    padding-right: 0;
  }

  .technology_image {
    width: 2em;
  }
}
