.wrapper {
  padding-top: 4em;
  background-color: var(--color-6);
  color: white;
  /*padding: 2em 12em 5em;*/
}

.inner_wrapper {
  margin-bottom: 0;
  max-width: 1240px;
  margin: auto;
}

.contact_title {
  font-size: 2.5rem;
  background: linear-gradient(
    90deg,
    var(--color-orange),
    rgba(255, 255, 255, 0.25),
    var(--color-orange)
  );

  padding: 0.75rem 2rem;
  width: fit-content;
  margin: auto;
}

.contact_img {
  width: 2.5rem;
  margin: auto;
  margin-right: 0.8em;
}

.contact_flex {
  width: auto;
  margin-top: 3em;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 2em;
  margin-left: 1em;
  margin-right: 1em;
}

.contact_box {
  display: flex;
  /*flex-direction: column;*/
  align-items: center;
  text-align: center;
  margin-bottom: 4em;
}

.clickable {
  cursor: pointer;
}

.line {
  height: 1px;
  background-color: rgba(255, 255, 255, 0.5);
  width: 90%;
  margin: auto;
}

.bottom_content {
  color: rgba(255, 255, 255, 0.5);
  padding: 0.75em 0;
  text-align: center;
}

@media (max-width: 1024px) {
  .contact_container {
    background-color: var(--color-orange);
    margin-bottom: 0;
    padding: 2em 0;
  }

  .contact_flex {
    margin-right: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .contact_box {
    margin: auto;
    margin-bottom: 1em;
  }
}

@media (width < 768px) {
  .contact_title {
    font-size: 2em;
    margin-bottom: 1em;
  }
  .contact_box {
    font-size: 0.75em;
  }
}
