.navbar {
  /*
  display: flex;
  position: sticky;
  top: 0;
  left: 0;
  color: white;
  background-color: var(--color-6);
  border-bottom: 2px solid var(--color-brown);*/
  display: flex;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: var(--color-6);
  color: #f9f9f9;
  z-index: 1;
}

.navbar_content {
  height: 4em;
  margin: 0em 3em;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.navbar_left_content {
  font-size: 1.2em;
  font-weight: bold;
  cursor: pointer;
}

.navbar_right_content {
  display: flex;
  align-items: center;
  height: 100%;
}

.navbar_right_content_mobile {
  font-size: 1.5em;
  display: none;
  cursor: pointer;
}

@media (max-width: 1024px) {
  .navbar_content {
    margin: 0 1em;
  }

  .navbar_right_content {
    display: none;
  }

  .navbar_right_content_mobile {
    display: block;
  }
}

/*

  MEDIA QUERIES

  @media (width < 480px) {
  .navbar {
    background-color: yellow;
  }
}

@media (480px <= width < 768px) {
  .navbar {
    background-color: green;
  }
}

@media (768px <= width < 1024px) {
  .navbar {
    background-color: blue;
  }
}

@media (1024px <= width <= 1200px) {
  .navbar {
    background-color: purple;
  }
}

  
*/
