.navbar {
  display: flex;
  position: sticky;
  top: 0;
  left: 0;
  background-color: white;
}

.navbar-content {
  height: 4em;
  margin: 0em 3em;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.navbar-right-content {
  display: flex;
  align-items: center;
  height: 100%;
}
