.experience_wrapper {
  background-color: var(--color-3);
  padding-top: 5em;
  padding-left: 2em;
  padding-right: 2em;
}

.jobs_wrapper {
  margin-bottom: 8em;
  margin-top: 6em;
}

.job_header {
  margin-top: 2rem;
  margin-bottom: 1rem;
  overflow: hidden;
  background-color: var(--color-4);
  border-top-right-radius: 1em;
  border-bottom-right-radius: 1em;
  box-shadow: 0 0 5px;
  width: fit-content;
  padding: 0 1em;
}

.job_title {
  font-size: 1.8em;
  padding-bottom: 0.1em;
}

.job_time {
  color: gray;
  font-size: 0.9em;
}

.cards_wrapper {
  margin-top: 5em;
  margin-bottom: 8em;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2em;
}

@media (width < 480px) {
  .cards_wrapper {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (480px <= width < 768px) {
  .cards_wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}
