.container {
  width: auto;
  margin: auto;
}

.scroll-to {
  scroll-margin-top: 100px;
}

@media (width < 1024px) {
  .container {
    margin-left: 2em;
    margin-right: 2em;
  }
}

@media (min-width: 1024px) {
  .container {
    width: 1024px;
  }
}
